@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --background-color: #191F2A;
    --text-color: #FFF;
    --highlight-color: #c1449b;
    --highlight-gradient-bg-color: #fbda61;
    --highlight-gradient-bg-img: linear-gradient(45deg,#fbda61,#ff5acd);
}

html { 
    font-size: 16px;
}

@media (max-width: 1000px) {
    html { 
        font-size: 24px;
    }  
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 auto 1rem;
    padding: 0.5rem auto;
    color: var(--background-color);
    background-color: var(--text-color);
}

#date-selector {
    margin-top: 1rem;
}

main {
    max-width: min(800px, 80vw);
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0 1rem; 
    align-items: baseline;
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      ". ."; 
}

.highlighted-number {
    font-style: normal;
    font-weight: 800;
    font-size: 7rem;
    line-height: 7.5rem;
    text-align: right;

    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: var(--highlight-gradient-bg-color);
    background-image: var(--highlight-gradient-bg-img);

    font-variant-numeric: tabular-nums;
}

.highlighted-label {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 7.5rem;
    text-align: left;
}

.error {
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    padding: .5rem;
    margin-bottom: 1rem;
}

#selection-date-form {
    margin: 1rem auto;
}

#selection-date-form input,
#selection-date-form label {
    font-size: 1rem;
}